<h1>The Netflix Index</h1>
<p>Enter a title to check if Netflix is playing it!</p>

<p>
  <%= form_for @movie, url: movies_show_path, method: :get do |f| %>
    <%= f.text_field :title, class:"text-input", id:"title", name:"title", placeholder:"Enter a title" %>
    <%= f.submit :get, type:"submit" %>
    <% end %>
</p>
